@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #fff;
    color: #333;
    font-weight: 300;
}

h2 {
    font-family: 'Inter', sans-serif;
    background: #fff;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 1rem;
}

.container {
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    width: 100%;
    max-width: 100%;
    padding-top: 6rem;
}

.container-content {
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    width: 100%;
    max-width: 100%;
    padding-top: 6rem;
}

.logo {
    grid-column: 2 / span 6;
    height: 20px;
    display: flex;
    align-items: top;
}

.about {
    grid-column: 9 / span 6;
}

.work-experience {
    grid-column: 16 / span 6;
}

.work-experience ul {
    list-style: none;
    padding: 0;
    text-align: left; /* Align the work experience to the left */
}

.work-experience li {
    margin-bottom: 12px;
}

.work-experience li span {
    float: right; /* Align dates to the right */
}

.project {
    grid-column: 2 / span 20;
    
}

.project img {
    width: 100%;
    grid-column: 1 / span 21;
    height: auto;
    display: block;
    margin-top: 3rem;
}

.project-info ul {
    list-style: none;
    text-align: left; /* Align the work experience to the left */
    padding-top: 0rem;
}

.project-info li span {
    float: right; /* Align dates to the right */
}

.projectimage video {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.footer {
    padding-bottom: 4rem;
    grid-column: 2 / span 20;
    padding-top: 8rem;
    font-size: 12px;
    font-weight: 500;
    color: #a4a4a4;
}

.footer ul {
    list-style: none;
    text-align: right;
}

.projectname {
    grid-column: 2 / span 10;
    align-items: top;
}

.projectabout {
    grid-column: 12 / span 10;
    align-items: top;
}

.projectimage {
    grid-column: 2 / span 20;
    padding-top: 4rem;
}

.projectimage img {
    width: 100%;
    grid-column: 1 / span 21;
    height: auto;
    display: block;
    padding-bottom: 2rem;
}


p {
    padding-bottom: 1rem;
}

h3 {
    font-size: 32px;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #000;
    padding-right: 1rem;
}

a:hover {
    text-decoration: none;
}

@media (max-width: 768px) {
    /* Use a single-column layout for mobile devices */
    .container {
        display: grid;
        padding-top: 2rem; /* Reduced padding */
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .container-content {
        display: grid
    }
    

    .about {
        padding-top: 2rem;
    }

    .work-experience {
        padding-top: 2rem;
        
    }

    /* Stack logo, about, work experience, and projects vertically */
    .logo, .about, .work-experience, .project, .footer {
        grid-column: 1 / -1; /* Full width */
        font-size: 14px
    }

    /* Adjust the logo size for smaller screens if necessary */
    .logo img {
        height: auto; /* Adjust height to maintain aspect ratio */
        width: auto; /* Example: set to 50% of the container width */
        margin: 0 auto; /* Center the logo */
        grid-column: 1;
    }

    .logo {
        grid-column: 1;
    }

    /* Adjust font sizes for smaller screens if necessary */
    h2, p, a, .work-experience li, .footer {
        font-size: 14px; /* Smaller font size */
    }
    
    h3 {
        font-size: 20px;
    }

    .container-content {
        padding-left: 1rem;
        padding-right: 1rem;
    }
        

    .projectname {
        grid-column: 1 / -1;
    }

    .projectabout {
        grid-column: 1 / -1;
        margin-top: 1rem;
            
    }

    .projectimage {
        grid-column: 1 / -1;
        padding-top: 2rem;
        padding-left: 0;
        width: auto;

    }

    /* Project info list adjustment */
    .project-info ul,
    .project-info li {
        padding-top: 0rem; /* Remove padding */
        margin: 0; /* Remove margin */
        list-style-type: none; /* Remove bullet points */
    }

    /* Footer adjustments */
    .footer {
        padding-top: 2rem; /* Less padding on top */
        font-size: 10px; /* Smaller font size */
    }

    /* Make sure the footer text is centered for better readability on mobile */
    .footer ul {
        text-align: center;
        padding: 0;
    }
}
